body{
    background-color: #228b22; /* задання фону сторінки зеленого кольору */
}
table{
    border: 2px solid black; /* задання товщини 2 пікселя і чорного кольору рамці таблиці */
    margin: auto; /* вирівнювання таблиці по центру сторінки */
}
td{
    background-color: white; /* задання фону клітинок таблиці білого кольору */
}
.middle-row{
    height: 89px; /* задання висоти рядка 89 пікселів */
    font-size: 30px; /* задання розміру шрифта 30 пікселів */
}
.footer{
    height: 30px; /* задання висоти рядка 30 пікселів */
}
